.bg {
  position: absolute;
  width: 100dvw;
  pointer-events: none;
  z-index: -1;
}

.bg::before {
  content: ' ';
  background: url('/images/pattern.png') repeat;
  background-size: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
}

.image img {
  display: block;
}

.input {
}

.input input {
  background: var(--body-second);
  font-weight: 700;
}

.input input::placeholder {
  color: var(--mantine-color-dimmed);
  font-weight: 400;
}
